.btn-delete,
.btn-add {
  width: 36px;
  height: 36px;
  background: $dark;
  border-radius: 3px;
  padding: 0;
  border: none;
  box-shadow: none;
  color: $white;
  font-size: 1.3rem;
  line-height: 1;
  cursor: pointer;
  transition: all .15s ease;

  &:focus,
  &:active {
    outline: none;
  }
  &:hover {
    background: $dark-2;
  }
  &:disabled {
    opacity: .7;
    cursor: default;

    &:hover {
      background: $dark-2;
    }
  }

}
.btn-loader {
  position: relative;

  &.m-loader {
    color: transparent;
  }
}
.btn-cancel {
  display: inline-block;
  border: none;
  box-shadow: none;
  padding: 0;
  font-weight: 700;
  font-size: 13px;
  color: #ff262f;
}

.btn {

  &.create-crew-btn {
    z-index: 3 !important;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 46px;
    flex: 0 1 auto;

    i {
      margin-right: 10px;
      font-size: 26px;
    }
    span {
      margin-right: 10px;
    }
  }
}
