@import '../var';

.stops-details-table {
  background: transparent;
  tr:nth-of-type(odd) {
    background-color: transparent !important;
  }
  td {
    border-top: 0;
    .one-stop {
      width: 210px;
    }
  }
  .stop-name-field {
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
  }
  .stops-comment {
    cursor: pointer;
    border-bottom: 1px dashed $grey;
  }
}

